@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../font/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../font/Inter/static/Inter-Bold.ttf');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../font/Inter/static/Inter-SemiBold.ttf');
}